/* browser */
* {
  margin: 0 auto;
}
body {
  background: #EDF8F4;
  font-family: Helvetica Neue;
  color: #707070;
  font-size: 30px;
  text-align: center;
}
ul {
  padding: 0;
  margin: 2%;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 1%;
  margin: 1% 0 0 0;
}

/* Header.jsx */
h1 {
  padding: 0 0 1% 0;
}

header {
  background: #a3c2ac;
  height: 80px;
  color: #4b4a4a;
  padding: 2% 0 3% 0;
}

/* NavBar.jsx */
.nav {
  background: #a3c2ac;
  margin: 0 auto;
}

/* Footer.jsx */
footer {
  background: #a3c2ac;
  color: #4b4a4a;
  height: 30px;
}

/* PlantLog.jsx */
table {
  padding: 2%;
}